@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-view {
    height: 100vh;
  }

  @supports (height: 100dvh) {
    .h-view {
      height: 100dvh;
    }
  }

  .w-view {
    width: 100vw;
  }

  @supports (width: 100dvw) {
    .w-view {
      width: 100dvw;
    }
  }
}

@layer components {
  /* Firefox */
  .custom-scrollbar {
    padding: 1px;
    height: 103% !important;
    scrollbar-width: thin;
    scrollbar-color: theme('colors.cream') theme('colors.creamSemi50');
  }

  /* Chrome, Edge, and Safari */
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    scroll-margin: 1rem;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.creamSemi50');
    border-radius: theme('borderRadius.full');
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme('colors.cream');
    border-radius: theme('borderRadius.full');
  }

  /* Auto-Expanding Textarea */
  .auto-expanding-textarea,
  .auto-expanding-textarea-parent::after {
    @apply col-start-1 col-end-2 row-start-1 row-end-2;
    @apply h-full max-h-[2.5rem] min-h-[1rem] lg:max-h-[6rem];
    @apply resize-none;
    @apply bg-[transparent] text-[inherit] caret-[currentColor];
    @apply overflow-y-auto;
    @apply whitespace-pre-wrap break-words;
    @apply outline-none;
    @apply placeholder:opacity-80;
    @apply text-lg lg:text-4xl;
  }

  /* Auto-Expanding Textarea ::after pseudoelement. */
  .auto-expanding-textarea-parent {
    @apply grid rounded-xl;
    @apply after:invisible;
  }
}

a {
  outline: none;
}
